/* Forza lo spostamento di qualsiasi elemento fissato in basso */
div[class*="fixed"][class*="bottom-0"], 
section[class*="fixed"][class*="bottom-0"],
nav {
    bottom: 45px !important;
    transform: translateY(-20px) !important;
}
